<!-- <footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="copy_right">&copy BookMyStay Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer> -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-4">
        <h5>TravelNest</h5>
        <p>Discover unique stays and make your travel unforgettable.  
        Your next adventure starts here!</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/listing">Explore Stays</a></li>
          <li><a href="/listing/new">Add Your Property</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4">
        <h5>Connect with us</h5>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <hr>
    <p class="text-center">© 2025 Sonu. All rights reserved.</p>
  </div>
</footer>
